extends layout

block content
  h1= title
  p Welcome to Sathyanarayana Mallipudi's webpage
  button(type="button", class="btn btn-primary", onclick="boost()") Sample Button

  div#boost add in extra

  script.
    let value = 0;
    let amt = 3;
    
    function boost() {
      amt += 1;
      value += amt;
      document.getElementById('boost').textContent = `Boosted ${value} by ${amt}`;
    }